# Python
venv/
__pycache__/
*.py[cod]
*$py.class

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
frontend/build/
dist/
build/

# Uploads
uploads/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 